In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo Spark SQL") \
    .getOrCreate()

data = [
    ("Ana", 20, "Matemática"),
    ("Pedro", 22, "Física"),
    ("Maria", 19, "Química"),
    ("Lucas", 21, "Biologia"),
    ("João", 22, "Matemática")
]

columns = ["Nome", "Idade", "Curso"]

df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("Estudantes")

print("Estudantes com mais de 20 anos:")
spark.sql("SELECT * FROM Estudantes WHERE Idade > 20").show()

print("Número de estudandes por curso:")
spark.sql("SELECT Curso, COUNT(*)AS Total FROM Estudantes GROUP BY Curso").show()

print("Idade Média dpa estudantes:")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudantes").show()

spark.stop()